@{
    Layout = "~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<div id="vnt-content">
    <div class="boxhome">
        <div class="bannerhome">
            <div class="slbannerhome vhbtnslick vhdots vhslick-lg-15 vhslick-sm-10">

                <div class="item">
                    <a href="https://ijc.vn/vn/deal-hot-thang-2-uu-dai-len-den-10.html" title="" onmousedown="return rwt(this,'advertise',109)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/rize_02.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/rize_02.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/mien-phi-thiet-ke-doc-ban-trang-suc.html" title="" onmousedown="return rwt(this,'advertise',113)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/213_07.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/213_07.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/top-3-hoa-hau-hoan-vu-viet-nam-2022-tro-thanh-dai-su-thuong-hieu-trang-suc-ijc.html" title="" onmousedown="return rwt(this,'advertise',115)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/dai_su_thuong_hieu_1920x760.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/dai_su_thuong_hieu_1920x760.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/vuong-mien-the-power-of-life-by-ijc-.html" title="" onmousedown="return rwt(this,'advertise',110)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/150_VM_cover_FB_02_1920x760.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/150_VM_cover_FB_02_1920x760.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="javascript:void(0)" title="" onmousedown="return rwt(this,'advertise',111)" target="">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/IJC_trang_suc_da_quy.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/IJC_trang_suc_da_quy.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/chinh-thuc-cong-bo-vuong-mien-vinawoman-infinity-by-ijc-tuyet-tac-danh-cho-tan-hoa-hau-hoan-vu-viet-nam-2022.html" title="" onmousedown="return rwt(this,'advertise',90)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/vuong_mien_hoa_hau_hoan_vu.png);">
                            <img src="https://ijc.vn/vnt_upload/weblink/vuong_mien_hoa_hau_hoan_vu.png" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/dong-loat-khai-truong-15-chi-nhanh-ijc-chinh-thuc-so-huu-mang-luoi-29-chi-nhanh-tren-toan-quoc.html" title="" onmousedown="return rwt(this,'advertise',88)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/he_thong_showroom_ijc_tren_toan_quoc.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/he_thong_showroom_ijc_tren_toan_quoc.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/chinh-sach-dac-biet-danh-cho-khach-hang-mua-trang-suc-ijc.html" title="" onmousedown="return rwt(this,'advertise',87)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/chinh_sach_5_quyen_loi.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/chinh_sach_5_quyen_loi.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/doc-quyen-thi-truong-thu-doi-100.html" title="Banner 1" onmousedown="return rwt(this,'advertise',85)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/chinh_sach_thu_doi_doc_quyen_tai_ijc_1.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/chinh_sach_thu_doi_doc_quyen_tai_ijc_1.jpg" alt="Banner 1" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/trang-suc-da-quy-ijc-mo-man-dem-chung-ket-hoa-hau-viet-nam-2020.html" title="" onmousedown="return rwt(this,'advertise',91)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/HHVN_2020.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/HHVN_2020.jpg" alt="" />
                        </div>
                    </a>
                </div>

                <div class="item">
                    <a href="https://ijc.vn/vn/a-hau-viet-dau-tien-trong-lich-su-duoc-trao-vuong-mien-thi-hoa-hau-hoan-vu.html" title="Banner 2" onmousedown="return rwt(this,'advertise',86)" target="_blank">
                        <div class="bg" style="background-image: url(https://ijc.vn/vnt_upload/weblink/vuong_mien_phoenix_by_ijc.jpg);">
                            <img src="https://ijc.vn/vnt_upload/weblink/vuong_mien_phoenix_by_ijc.jpg" alt="Banner 2" />
                        </div>
                    </a>
                </div>

            </div>
            <div class="btndownmm">
                <a href="#vhdownmm">
                    <img src="https://ijc.vn/modules/main/images/down.png" alt="down" />
                </a>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="bansmhome">
            <div class="wrapping">
                <div class="slbansmhome vhdots vhslick-lg-15">

                    <div class="colsl">
                        <div class="banersmh">
                            <a class="vhdisplay-block vhthumbborder" href="http://ijc.vn/ve-sinh-trang-suc-gia-0-dong-tai-ijc-charm-club.html" title="Banner 02" onmousedown="return rwt(this,'advertise','84')" target='_blank'>
                                <img src="https://ijc.vn/vnt_upload/weblink/116_Ve_sinh_Trang_Suc_01.jpg" alt="Banner 02" />
                            </a>
                        </div>
                    </div>

                    <div class="colsl">
                        <div class="banersmh">
                            <a class="vhdisplay-block vhthumbborder" href="http://ijc.vn/tao-nen-su-khac-biet-cung-trang-suc-thiet-ke.html" title="Banner 01" onmousedown="return rwt(this,'advertise','83')" target='_blank'>
                                <img src="https://ijc.vn/vnt_upload/weblink/117_thiet_ke__02.jpg" alt="Banner 01" />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="productnnhome">
            <div class="wrapping">
                <div class="vhproductnn">
                    <div class="vhtitlenn">
                        <div class="title">
                            <h2>TRANG SỨC</h2>
                        </div>
                        <div class="grtabview">
                            <div class="tab hidden-xs hidden-sm hidden-md">
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/mat-day-chuyen.html">MẶT DÂY CHUYỀN
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/nhan.html">NHẪN
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/lac-va-vong-tay.html">LẮC &amp; VÒNG TAY
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/day-chuyen.html">DÂY LIỀN MẶT
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/bong-tai.html">BÔNG TAI
                                    </li>
                                </ul>
                            </div>
                            <div class="view">
                                <a href="https://ijc.vn/vn/trang-suc.html">
                                    <span class="fa-angle-right">Xem tất cả</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="vhtabpro hidden-lg">
                        <ul class="vhflex vhflex-scroll-text">
                            <li>
                                <a href="https://ijc.vn/vn/mat-day-chuyen.html">MẶT DÂY CHUYỀN
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/nhan.html">NHẪN
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/lac-va-vong-tay.html">LẮC &amp; VÒNG TAY
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/day-chuyen.html">DÂY LIỀN MẶT
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/bong-tai.html">BÔNG TAI
                            </li>
                        </ul>
                    </div>
                    <div class="vhcontnn">
                        <div class="grproductnn vhflex vhflex-scroll-block">

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/day-lien-mat-da-amethyst-22m-013nmbl.html">
                                            <img src="https://ijc.vn/vnt_upload/product/12_2022/thumbs/1600_crop_Day_lien_mat_da_Amethyst_22M013NMBL.jpg" alt="Dây liền mặt đá Amethyst 22M.013NMBL">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/day-lien-mat-da-amethyst-22m-013nmbl.html">Dây liền mặt đá Amethyst 22M.013NMBL</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">26,781,000 đ</span>
                                        </div>
                                        <div class="dsview">
                                                <input type="button" onclick="addToCart()" class="btn btn-add-to-cart" value="Thêm vào giỏ hàng">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="productnnhome">
            <div class="wrapping">
                <div class="vhproductnn">
                    <div class="vhtitlenn">
                        <div class="title">
                            <h2>KIM CƯƠNG</h2>
                        </div>
                        <div class="grtabview">
                            <div class="tab hidden-xs hidden-sm hidden-md">
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/mat-day-kim-cuong.html">MẶT DÂY KIM CƯƠNG
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/bong-tai-kim-cuong.html">BÔNG TAI KIM CƯƠNG
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/nhan-kim-cuong.html">NHẪN KIM CƯƠNG
                                    </li>
                                </ul>
                            </div>
                            <div class="view">
                                <a href="https://ijc.vn/vn/trang-suc-kim-cuong.html">
                                    <span class="fa-angle-right">Xem tất cả</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="vhtabpro hidden-lg">
                        <ul class="vhflex vhflex-scroll-text">
                            <li>
                                <a href="https://ijc.vn/vn/mat-day-kim-cuong.html">MẶT DÂY KIM CƯƠNG
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/bong-tai-kim-cuong.html">BÔNG TAI KIM CƯƠNG
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/nhan-kim-cuong.html">NHẪN KIM CƯƠNG
                            </li>
                        </ul>
                    </div>
                    <div class="vhcontnn">
                        <div class="grproductnn vhflex vhflex-scroll-block">

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071-1668073602.html">
                                            <img src="https://ijc.vn/vnt_upload/product/08_2022/thumbs/1600_crop_Vo_nhan_Kim_cuong_21N071.jpg" alt="Vỏ nhẫn Kim cương 21N071">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071-1668073602.html">Vỏ nhẫn Kim cương 21N071</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">65,799,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071-1668073602.html/?popup=1" data_id="1727">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n292-6ty.html">
                                            <img src="https://ijc.vn/vnt_upload/product/08_2022/thumbs/1600_crop_Vo_nhan_Kim_Cuong_20N2926TY.jpg" alt="Vỏ nhẫn Kim cương 20N292.6TY">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n292-6ty.html">Vỏ nhẫn Kim cương 20N292.6TY</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">55,938,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n292-6ty.html/?popup=1" data_id="1726">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071.html">
                                            <img src="https://ijc.vn/vnt_upload/product/04_2021/thumbs/1600_crop_O_nhan_da_Kim_cuong_21N071.jpg" alt="Vỏ nhẫn Kim cương 21N071">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071.html">Vỏ nhẫn Kim cương 21N071</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">65,799,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/vo-nhan-kim-cuong-21n071.html/?popup=1" data_id="988">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n289-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/04_2021/thumbs/1600_crop_O_nhan_da_Kim_cuong_20N2892TI.jpg" alt="Vỏ nhẫn Kim cương 20N289.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n289-2ti.html">Vỏ nhẫn Kim cương 20N289.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">66,920,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/vo-nhan-kim-cuong-20n289-2ti.html/?popup=1" data_id="987">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-kim-cuong-21b058.html">
                                            <img src="https://ijc.vn/vnt_upload/product/05_2021/thumbs/1600_crop_Bong_tai_da_Kim_cuong_21B058.jpg" alt="Bông tai Kim cương 21B058">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/bong-tai-kim-cuong-21b058.html">Bông tai Kim cương 21B058</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">59,570,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-kim-cuong-21b058.html/?popup=1" data_id="996">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-kim-cuong-21b063.html">
                                            <img src="https://ijc.vn/vnt_upload/product/05_2021/thumbs/1600_crop_Bong_tai_da_Kim_cuong_21B063.jpg" alt="Bông tai Kim cương 21B063">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/bong-tai-kim-cuong-21b063.html">Bông tai Kim cương 21B063</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">58,501,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-kim-cuong-21b063.html/?popup=1" data_id="995">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-kim-cuong-20b176-1th.html">
                                            <img src="https://ijc.vn/vnt_upload/product/03_2021/thumbs/1600_crop_Bong_tai_da_Kim_cuong_20B1761TH.jpg" alt="Bông tai Kim cương 20B176.1TH">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/bong-tai-kim-cuong-20b176-1th.html">Bông tai Kim cương 20B176.1TH</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">Liên Hệ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-kim-cuong-20b176-1th.html/?popup=1" data_id="875">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/bong-tai-kim-cuong-20b183-1th.html">
                                            <img src="https://ijc.vn/vnt_upload/product/03_2021/thumbs/1600_crop_Bong_tai_da_Kim_cuong_20B1831TH.jpg" alt="Bông tai Kim cương 20B183.1TH">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/bong-tai-kim-cuong-20b183-1th.html">Bông tai Kim cương 20B183.1TH</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">Liên Hệ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/bong-tai-kim-cuong-20b183-1th.html/?popup=1" data_id="877">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-kim-cuong-21m045.html">
                                            <img src="https://ijc.vn/vnt_upload/product/05_2021/thumbs/1600_crop_Mat_day_da_Kim_cuong_21M045.jpg" alt="Mặt dây Kim cương 21M045">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/mat-day-kim-cuong-21m045.html">Mặt dây Kim cương 21M045</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">24,393,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-kim-cuong-21m045.html/?popup=1" data_id="999">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-kim-cuong-21m046.html">
                                            <img src="https://ijc.vn/vnt_upload/product/05_2021/thumbs/1600_crop_Mat_day_da_Kim_cuong_21M046.jpg" alt="Mặt dây Kim cương 21M046">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/mat-day-kim-cuong-21m046.html">Mặt dây Kim cương 21M046</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">33,966,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-kim-cuong-21m046.html/?popup=1" data_id="998">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-kim-cuong-20m150-1th.html">
                                            <img src="https://ijc.vn/vnt_upload/product/03_2021/thumbs/1600_crop_Mat_day_da_Kim_cuong_20M1501TH.jpg" alt="Mặt dây Kim cương 20M150.1TH">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/mat-day-kim-cuong-20m150-1th.html">Mặt dây Kim cương 20M150.1TH</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">Liên Hệ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-kim-cuong-20m150-1th.html/?popup=1" data_id="881">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/mat-day-kim-cuong-20m173-1th.html">
                                            <img src="https://ijc.vn/vnt_upload/product/03_2021/thumbs/1600_crop_Mat_day_da_Kim_cuong_20M1731TH.jpg" alt="Mặt dây Kim cương 20M173.1TH">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/mat-day-kim-cuong-20m173-1th.html">Mặt dây Kim cương 20M173.1TH</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">Liên Hệ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/mat-day-kim-cuong-20m173-1th.html/?popup=1" data_id="880">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="productnnhome">
            <div class="wrapping">
                <div class="vhproductnn">
                    <div class="vhtitlenn">
                        <div class="title">
                            <h2>TRANG SỨC CƯỚI</h2>
                        </div>
                        <div class="grtabview">
                            <div class="tab hidden-xs hidden-sm hidden-md">
                                <ul>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-kim-cuong.html">Trang sức cưới kim cương
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-da-cz.html">Trang sức cưới đá CZ
                                    </li>
                                    <li>
                                        <a href="https://ijc.vn/vn/trang-suc-cuoi-da-quy.html">Trang sức cưới đá quý
                                    </li>
                                </ul>
                            </div>
                            <div class="view">
                                <a href="https://ijc.vn/vn/trang-suc-cuoi.html">
                                    <span class="fa-angle-right">Xem tất cả</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="vhtabpro hidden-lg">
                        <ul class="vhflex vhflex-scroll-text">
                            <li>
                                <a href="https://ijc.vn/vn/trang-suc-cuoi-kim-cuong.html">Trang sức cưới kim cương
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/trang-suc-cuoi-da-cz.html">Trang sức cưới đá CZ
                            </li>
                            <li>
                                <a href="https://ijc.vn/vn/trang-suc-cuoi-da-quy.html">Trang sức cưới đá quý
                            </li>
                        </ul>
                    </div>
                    <div class="vhcontnn">
                        <div class="grproductnn vhflex vhflex-scroll-block">

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20qr012-4na.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_nu_20QR0124NA.jpg" alt="Nhẫn cưới Kim cương nữ 20QR012.4NA">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20qr012-4na.html">Nhẫn cưới Kim cương nữ 20QR012.4NA</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">6,343,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20qr012-4na.html/?popup=1" data_id="1289">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-nam-20kr012-4na.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_nam_20KR0124NA.jpg" alt="Nhẫn cưới nam 20KR012.4NA">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-nam-20kr012-4na.html">Nhẫn cưới nam 20KR012.4NA</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">7,247,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-nam-20kr012-4na.html/?popup=1" data_id="1288">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q022-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0222TI.jpg" alt="Nhẫn cưới Kim cương nữ 20Q022.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q022-2ti.html">Nhẫn cưới Kim cương nữ 20Q022.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">7,336,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q022-2ti.html/?popup=1" data_id="1287">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k022-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0222TI.jpg" alt="Nhẫn cưới Kim cương nam 20K022.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k022-2ti.html">Nhẫn cưới Kim cương nam 20K022.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">8,463,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k022-2ti.html/?popup=1" data_id="1286">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q018-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0182TI.jpg" alt="Nhẫn cưới Kim cương nữ 20Q018.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q018-2ti.html">Nhẫn cưới Kim cương nữ 20Q018.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">7,649,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q018-2ti.html/?popup=1" data_id="1285">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k018-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0182TI.jpg" alt="Nhẫn cưới Kim cương nam 20K018.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k018-2ti.html">Nhẫn cưới Kim cương nam 20K018.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">9,170,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k018-2ti.html/?popup=1" data_id="1284">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q012-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_nu_20Q0212TI.jpg" alt="Nhẫn cưới Kim cương nữ 20Q012.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q012-2ti.html">Nhẫn cưới Kim cương nữ 20Q012.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">7,481,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q012-2ti.html/?popup=1" data_id="1283">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k012-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_nam_20K0122TI.jpg" alt="Nhẫn cưới Kim cương nam 20K012.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k012-2ti.html">Nhẫn cưới Kim cương nam 20K012.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">9,090,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k012-2ti.html/?popup=1" data_id="1282">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q024-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0242TI.jpg" alt="Nhẫn cưới Kim cương nữ 20Q024.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q024-2ti.html">Nhẫn cưới Kim cương nữ 20Q024.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">7,858,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-20q024-2ti.html/?popup=1" data_id="1281">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k024-2ti.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_0242TI.jpg" alt="Nhẫn cưới Kim cương nam 20K024.2TI">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k024-2ti.html">Nhẫn cưới Kim cương nam 20K024.2TI</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">9,914,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-20k024-2ti.html/?popup=1" data_id="1280">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-21q-013nc.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_013NC.jpg" alt="Nhẫn cưới Kim cương nữ 21Q.013NC">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-21q-013nc.html">Nhẫn cưới Kim cương nữ 21Q.013NC</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">13,002,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nu-21q-013nc.html/?popup=1" data_id="1267">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="colsl">
                                <div class="itemproductall">
                                    <div class="thumb">
                                        <a class="vhthumbzoom vhthumb-100 vhthumb-center" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-21k-013nc.html">
                                            <img src="https://ijc.vn/vnt_upload/product/10_2021/thumbs/1600_crop_Nhan_cuoi_Kim_cuong_013NC.jpg" alt="Nhẫn cưới Kim cương nam 21K.013NC">
                                        </a>
                                    </div>
                                    <div class="decs">
                                        <div class="dstile">
                                            <h3>
                                                <a href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-21k-013nc.html">Nhẫn cưới Kim cương nam 21K.013NC</a>
                                            </h3>
                                        </div>
                                        <div class="dsprive">
                                            <span class="dsnews">14,048,000 đ</span>
                                        </div>

                                        <div class="dsview">
                                            <div class="viewall">
                                                <a class="addCart addCartpop" href="https://ijc.vn/vn/nhan-cuoi-kim-cuong-nam-21k-013nc.html/?popup=1" data_id="1266">
                                                    <i class="icon-cart1"></i>
                                                    <span>Thêm vào giỏ hàng</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="newshome">
            <div class="wrapping">
                <div class="vhnewshome">
                    <div class="vhtitlemm">
                        <div class="title">
                            <h2>Tin tức</h2>
                        </div>
                        <div class="view">
                            <a href="https://ijc.vn/vn/tin-tuc.html">
                                <span class="fa-angle-right">Xem tất cả</span>
                            </a>
                        </div>
                    </div>
                    <div class="vhcontmm">
                        <div class="lstnewshome">
                            <div class="vhflex vhflex-wrap vhmargin-lg-col-15 vhmargin-md-col-10">

                                <div class="vhcol-lg-3 vhcol-sm-1 vhcol-xs-1 vhpadding-lg-col-15 vhpadding-md-col-10 vhmargin-lg-bottom-15 ">
                                    <div class="itemnews">
                                        <div class="thumb">
                                            <a class="vhthumbzoom vhthumb-65 vhthumb-full" href="https://ijc.vn/vn/ijc-nha-tai-tro-trang-suc-va-che-tac-vuong-mien-cho-cuoc-thi-hoa-hau-hoan-vu-viet-nam-2022.html">
                                                <img src="https://ijc.vn/vnt_upload/news/06_2022/thumbs/740_crop_0189_ck_muvn_2022_photo_kiengcan_team.jpg" alt="IJC - NHÀ TÀI TRỢ TRANG SỨC VÀ CHẾ TÁC VƯƠNG MIỆN CHO CUỘC THI HOA HẬU HOÀN VŨ VIỆT NAM 2022">
                                            </a>
                                        </div>
                                        <div class="decs">
                                            <div class="dstitle">
                                                <h3>
                                                    <a href="https://ijc.vn/vn/ijc-nha-tai-tro-trang-suc-va-che-tac-vuong-mien-cho-cuoc-thi-hoa-hau-hoan-vu-viet-nam-2022.html">IJC - NHÀ TÀI TRỢ TRANG SỨC VÀ CHẾ TÁC VƯƠNG MIỆN CHO CUỘC THI HOA HẬU HOÀN VŨ VIỆT NAM 2022</a>
                                                </h3>
                                            </div>
                                            <div class="dsdate">27/06/2022</div>
                                            <div class="dstend">“Vina Woman” là cảm hứng chính để IJC lên ý tưởng thiết kế và hoàn thành 3 chiếc vương miện danh giá.</div>
                                            <div class="dsview">
                                                <a href="https://ijc.vn/vn/ijc-nha-tai-tro-trang-suc-va-che-tac-vuong-mien-cho-cuoc-thi-hoa-hau-hoan-vu-viet-nam-2022.html">
                                                    <img src="https://ijc.vn/modules/main/images/line.png" alt="line" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="vhcol-lg-3 vhcol-sm-1 vhcol-xs-1 vhpadding-lg-col-15 vhpadding-md-col-10 vhmargin-lg-bottom-15 ">
                                    <div class="itemnews">
                                        <div class="thumb">
                                            <a class="vhthumbzoom vhthumb-65 vhthumb-full" href="https://ijc.vn/vn/vuong-mien-the-power-of-life-by-ijc-.html">
                                                <img src="https://ijc.vn/vnt_upload/news/11_2022/thumbs/740_crop_Can_canh_chiec_vuong_mien_bac_ty_cuoc_thi_Hoa_hau_Du_lich_The_gioi_2022_hoa_hau_the_gioi1_1668498412_951_width800height450.jpg" alt="VƯƠNG MIỆN “THE POWER OF LIFE BY IJC”">
                                            </a>
                                        </div>
                                        <div class="decs">
                                            <div class="dstitle">
                                                <h3>
                                                    <a href="https://ijc.vn/vn/vuong-mien-the-power-of-life-by-ijc-.html">VƯƠNG MIỆN “THE POWER OF LIFE BY IJC”</a>
                                                </h3>
                                            </div>
                                            <div class="dsdate">17/11/2022</div>
                                            <div class="dstend">Nhằm mang đến cái nhìn tích cực trong mắt bạn bè thế giới và góp một phần sức cho sự thành công của cuộc thi, IJC tự hào trở thành thương hiệu trang sức đồng hành, chế tác và tài trợ vương miện đăng quang cho cuộc thi Hoa hậu Du lịch Thế giới 2022.</div>
                                            <div class="dsview">
                                                <a href="https://ijc.vn/vn/vuong-mien-the-power-of-life-by-ijc-.html">
                                                    <img src="https://ijc.vn/modules/main/images/line.png" alt="line" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="vhcol-lg-3 vhcol-sm-1 vhcol-xs-1 vhpadding-lg-col-15 vhpadding-md-col-10 vhmargin-lg-bottom-15 ">
                                    <div class="itemnews">
                                        <div class="thumb">
                                            <a class="vhthumbzoom vhthumb-65 vhthumb-full" href="https://ijc.vn/vn/top-3-hoa-hau-hoan-vu-viet-nam-2022-tro-thanh-dai-su-thuong-hieu-trang-suc-ijc.html">
                                                <img src="https://ijc.vn/vnt_upload/news/12_2022/thumbs/740_crop_dai_su_thuong_hieu_2.jpg" alt="TOP 3 HOA HẬU HOÀN VŨ VIỆT NAM 2022 TRỞ THÀNH ĐẠI SỨ THƯƠNG HIỆU TRANG SỨC IJC">
                                            </a>
                                        </div>
                                        <div class="decs">
                                            <div class="dstitle">
                                                <h3>
                                                    <a href="https://ijc.vn/vn/top-3-hoa-hau-hoan-vu-viet-nam-2022-tro-thanh-dai-su-thuong-hieu-trang-suc-ijc.html">TOP 3 HOA HẬU HOÀN VŨ VIỆT NAM 2022 TRỞ THÀNH ĐẠI SỨ THƯƠNG HIỆU TRANG SỨC IJC</a>
                                                </h3>
                                            </div>
                                            <div class="dsdate">23/12/2022</div>
                                            <div class="dstend">IJC xin chúc mừng Top 3 Hoa hậu Hoàn Vũ Việt Nam 2022 chính thức trở thành đại sứ thương hiệu Trang sức IJC.</div>
                                            <div class="dsview">
                                                <a href="https://ijc.vn/vn/top-3-hoa-hau-hoan-vu-viet-nam-2022-tro-thanh-dai-su-thuong-hieu-trang-suc-ijc.html">
                                                    <img src="https://ijc.vn/modules/main/images/line.png" alt="line" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="boxhome">
        <div class="testihome">
            <div class="wrapping">
                <div class="vhtestihome">
                    <div class="vhtitlemm">
                        <div class="title">
                            <h2>CẢM NHẬN KHÁCH HÀNG</h2>
                        </div>
                    </div>
                    <div class="vhcontmm">
                        <div class="grtestihome">
                            <div class="coll">
                                <div class="vhvideotes">
                                    <a href="https://youtu.be/owLl_8KYoMc" data-fancybox="">
                                        <img src="https://ijc.vn/vnt_upload/weblink/top_4_don_vi_vang_va_trang_suc_co_mang_luoi_phan_phoi_lon_nhat_viet_nam_video.jpg" alt="DÁNG VIỆT">
                                        <span class="playvideo vhtoa"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="colr">
                                <div class="sltestinav vhslick-lg-7">

                                    <div class="colSl">
                                        <div class="itemFor">
                                            <img src="https://ijc.vn/vnt_upload/about/ava1.jpg" alt="Chị Xuân Đào" />
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="itemFor">
                                            <img src="https://ijc.vn/vnt_upload/about/ava6.jpg" alt="Chị Kim Loan" />
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="itemFor">
                                            <img src="https://ijc.vn/vnt_upload/about/ava2.jpg" alt="Chị Uyên Phương" />
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="itemFor">
                                            <img src="https://ijc.vn/vnt_upload/about/ava5.jpg" alt="Chị Loan" />
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="itemFor">
                                            <img src="https://ijc.vn/vnt_upload/about/ava3.jpg" alt="Chị Phương" />
                                        </div>
                                    </div>

                                </div>
                                <div class="sltestifor">

                                    <div class="colSl">
                                        <div class="decstesti">
                                            <div class="nametesti">
                                                <div class="name">Chị Xuân Đào</div>
                                                <div class="cv">CEO SPA</div>
                                            </div>
                                            <div class="tendtesti">
                                                <p>“Cảm giác đầu tiên khi đến cửa hàng IJC là số lượng trang sức rất nhiều, mẫu mã đa dạng. Các loại đá quý bên đây thì nhiều chủng loại, được thiết kế rất bắt mắt, nhìn cái nào cũng đẹp. Thật sự là tôi gần như không thoát ra được khi đến đây xem và thử trang sức, cái nào cũng ưng ý, cũng muốn mua hết.”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="decstesti">
                                            <div class="nametesti">
                                                <div class="name">Chị Kim Loan</div>
                                                <div class="cv">Kinh doanh</div>
                                            </div>
                                            <div class="tendtesti">
                                                <p>“Tôi là dân làm ăn vì vậy rất chú trọng trong việc lựa chọn đá phong thủy đeo bên người. Khi đến showroom IJC tôi khá bất ngờ về kiến thức và sự hiểu biết của các bạn sale. Các bạn không chỉ nhiệt tình mà còn đưa ra lời khuyên tốt giúp tôi chọn được trang sức phù hợp với bản mệnh và sở thích của mình.”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="decstesti">
                                            <div class="nametesti">
                                                <div class="name">Chị Uyên Phương</div>
                                                <div class="cv">Nội trợ</div>
                                            </div>
                                            <div class="tendtesti">
                                                <p>“Lần kỷ niệm ngày cưới 5 năm, chồng tôi đã tặng cho tôi một chiếc nhẫn đá Sapphire vàng, nó thật sự rất đẹp. Chồng tôi nói, chiếc nhẫn này thuộc dòng Infinity, theo chính sách bên IJC thì sau 2 năm tôi có thể nhận thêm lãi suất ngân hàng nếu bán lại. Tôi cảm thấy chính sách này rất tốt nếu tôi muốn đổi sản phẩm khác.”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="decstesti">
                                            <div class="nametesti">
                                                <div class="name">Chị Loan</div>
                                                <div class="cv">Giáo viên Trường THPT</div>
                                            </div>
                                            <div class="tendtesti">
                                                <p>“Tôi thật sự rất ấn tượng với thương hiệu IJC. Trang sức của họ không chỉ đẹp mà chính sách của họ còn tốt nữa. Tôi đã từng mua trang sức của rất nhiều thương hiệu, so sánh thì hiện tại IJC là có tỉ lệ thu đổi cao nhất, như vậy lúc bán lại chênh lệch sẽ không cao.”</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="colSl">
                                        <div class="decstesti">
                                            <div class="nametesti">
                                                <div class="name">Chị Phương</div>
                                                <div class="cv">Nhân viên văn phòng</div>
                                            </div>
                                            <div class="tendtesti">
                                                <p>“Trang sức thiết kế tại IJC rất đa dạng, phải nói là gần như không tìm thấy sản phẩm trùng nhau luôn, mỗi sản phẩm là duy nhất. Tôi thích điểm này nhất, như vậy món trang sức đó là độc nhất vô nhị chỉ mình tôi có thôi.”</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- modal popup cart -->
<div id="addToCart" class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__body">
        <!-- Register form -->
        <div class="add-cart__popup">
            <div class="add-cart__container">
                <div class="add-to-cart__header">
                    <div class="modal__close" onclick="closeModalAddToCart()">
                        <i class="fa fa-close"></i>
                    </div>
                    <span class="add-to-cart__heading">VUI LÒNG CHỌN SIZE</span>
                </div>
                <div class="add-cart__body">
                    <div class="product-img">
                        <img src="./customer/img/1000_Bong_tai_da_Amethyst_22B013NMBL.jpg" width="300px" height="300px" alt="Ear ring">
                    </div>
                    <div class="product-size__info" style="margin-top:14px;">
                        <p style="font-size: 22px;">
                            Bông tai đá Amethyst 22B.013NMBL
                        </p>
                        <div class="product-detail">
                            <div style="color:darkgrey;">Mã SP: 1CB200149</div>
                            <div class="product-rate">
                                <div style="margin-right: 30px;"><span style="color:#FFC108" class="fa fa-star checked"></span> <i>4 (5)</i></div>
                                <div><span>2000+ đã bán</span></div>
                            </div>
                        </div>
                        <div class="product-price" style="font-size: 20px;margin-top: 10px;color:#003468">
                            8.360.000 đ
                        </div>
                        <div class="product-size__choose">
                            <div>
                                <span style="font-size: 16px;">Chọn kích cỡ:</span>
                            </div>
                            <div class="size-wrap" onclick="showSizeGuide()">
                                <div>
                                    <i><u style="font-size: 14px;">Cách đo size nhẫn</u></i>
                                    <div class="size-guide__table" id="size-guide__table">
                                        <div class="size-guide__table-wrap">
                                            <div class="size-guide-close">
                                                <i onclick="hideSizeGuide(event)" class="fa fa-close"></i>
                                            </div>
                                            <p style="text-align: center;font-size: 20px;">
                                                Cách đo size nhẫn
                                            </p>
                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;">1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/size-nhan.svg" style="display: inline;"> </p>
                                            </div>

                                            <div class="size-guide-wrap" style="padding:0;">
                                                <p style="font-size: 13px;;">2. Dùng thước đo chiều dài đoạn dây vừa đo được (đơn vị cm)</p>
                                                <p style="text-align: center;"> <img class="image-lazyload" alt="1. Dùng chỉ hoặc giấy bản nhỏ đo quấn quanh khớp tay, đánh dấu vị trí cắt nhau" src="https://cdn.pnj.io/images/image-update/2022/guide-size/thuoc-do.svg" style="display: inline;"> </p>
                                            </div>
                                        </div>
                                        <div class="size__measure">
                                            <div class="size__measure-wrap">
                                                <span style="font-size: 14px;">Kết quả:</span>
                                                <div class="size-result-wrap">
                                                    <div><input type="radio"> 3.6 cm </div>
                                                    <div><input type="radio"> 3.8 cm </div>
                                                    <div><input type="radio"> 4.0 cm </div>
                                                    <div><input type="radio"> 4.2 cm </div>
                                                    <div><input type="radio"> 4.4 cm </div>
                                                    <div><input type="radio"> 4.6 cm </div>
                                                    <div><input type="radio"> 4.8 cm </div>
                                                    <div><input type="radio"> 5.0 cm </div>
                                                    <div><input type="radio"> 5.2 cm </div>
                                                    <div><input type="radio"> 5.4 cm </div>
                                                </div>
                                            </div>

                                            <div class="size-description-wrap">
                                                <span style="font-size: 14px;">Bảng size phổ biến</span>
                                                <img src="https://cdn.pnj.io/images/image-update/2022/guide-size/nhan_v2.svg" alt="Ruler" style="display: inline; margin-top: 6px;">
                                                <br>
                                                <div style="display: flex; flex-direction: row; margin-top: 52px;">
                                                    <span style="font-size: 13px;align-self: center;">Size nhẫn: </span> <input type="text" id="size-result" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-size__box">
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">8</span>
                            </div>
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">9</span>
                            </div>
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">10</span>
                            </div>
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">11</span>
                            </div>
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">12</span>
                            </div>
                            <div class="size-box">
                                <span style="margin: auto;font-weight:lighter;font-size: 14px;">13</span>
                            </div>
                        </div>
                        <div class="product-stock" style="margin-top: 10px;font-size: 14px;color:#003468;">
                            Còn hàng
                        </div>
                        <div class="add-to-cart__confirm">
                            <div class="btn-add-to-cart__confirm" onclick="showCartDisplay(); setTimeout(timeOutCartDisplay, 5000);" id="add-to-cart-confirm">
                                <span style="margin:auto;">THÊM VÀO GIỎ HÀNG CỦA BẠN </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>